:root {
  --font-family: "Poppins", sans-serif;

  --primary-1: #2196f3;
  --primary-2: #1976d2;
  --danger-1: #ff4d4d;
  --danger-2: #ff2626;
  --success-1: #2ecc71;
  --success-2: #27ae60;
  --text-color: #3f494d;
  --text-subtitle: #888da8;
  --gray-1: #dfe6e9;
  --gray-2: #b2bec3;
  --gray-3: #c3cfd4;
  --white: #ffffff;
  --background: #edf2f6;
  --background-card: #ffffff;

  --border: solid 1px var(--gray-3);
  --border-in: solid 1px #e5e5e5;
  --border-radius: 8px;
  --box-shadow: 0 1px 2px rgba(82, 82, 82, 0.2);
}

// reset
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: var(--text-color);
}

body {
  min-height: 100vh;
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
  color: var(--text-color);
  background-color: var(--background);
}

.btn {
  &:hover {
    background: var(--primary-2);
  }
  background: var(--primary-1);
  font-family: var(--font-family);
  color: var(--white);
  border-radius: 8px;
  font-weight: 500;
  border: none;
  padding: 4px 11px;
  transition: 0.4s background-color;
  cursor: pointer;
}
