@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
:root {
  --font-family: "Lato", sans-serif;

  --primary-1: #fd2d01;
  --primary-2: #f36e54;
  --secondary-1: #ffd7d7;
  --danger-1: #ff0000;
  --danger-2: #c90505;
  --success-1: #2ecc71;
  --success-2: #27ae60;
  --text-color: #4e5166;
  --text-subtitle: #888da8;
  --gray-1: #dfe6e9;
  --gray-2: #b2bec3;
  --gray-3: #5a5655;
  --gray-4: #9ea5a8;
  --white: #ffffff;
  --background: #edf2f6;
  --background-card: #ffffff;

  --border: solid 0px #ffd7d7;
  --border-in: solid 1px #e5e5e5;
  --border-radius: 5px;
  --box-shadow: 0 1px 2px rgba(82, 82, 82, 0.2);
  --icon-edit: rgba(253, 42, 0, 0.8);
}

// reset
* {
  box-sizing: border-box;
  margin: 0;
  line-height: 130%;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: var(--text-color);
}

body {
  min-height: 100vh;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background);
}

.btn {
  &:hover {
    background: var(--primary-2);
  }
  background: var(--primary-1);
  font-family: var(--font-family);
  font-size: 1rem;
  color: var(--white);
  border-radius: 8px;
  font-weight: 500;
  border: none;
  padding: 4px 11px;
  transition: 0.4s background-color;
  cursor: pointer;
}

textarea {
  resize: vertical;
  background-color: var(--background);
  border: 1px solid var(--background);
  color: var(--text-color);
  width: 100%;
  font-family: inherit;
  font-size: 0.9rem;
  padding: 5px;
  border-radius: 3px;
  min-height: 31px;
  max-height: 200px;
  caret-color: var(--primary-1);

  &:focus {
    outline: none !important;
    border: 1px solid var(--secondary-1);
  }
  &::placeholder {
    color: var(--text-color);
  }
}

.danger {
  border: 1px solid var(--danger-2);
  background-color: var(--danger-1) !important;
  &:hover {
    background-color: var(--danger-2) !important;
  }
}

.success {
  border: 1px solid var(--success-2);
  background-color: var(--success-1) !important;
  &:hover {
    background-color: var(--success-2) !important;
  }
}
.neutral {
  border: 1px solid var(--gray-3);
  background-color: var(--background-card) !important;
  color: var(--gray-3);
  &:hover {
    background-color: var(--gray-1) !important;
  }
}
.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

$spinner_speed: 0.5s;
$spinner_radius: 80%;
$spinner_fill_radius: 90px;

$spinner_size: 60px;
$spinner_thickness: 10px;
$spinner_inner_circle: $spinner_size - $spinner_thickness;

$spinner_color: var(--primary-1);
$spinner_bg: var(--gray-4);
$spinner_inner_bg: var(--background);

.loader {
  border-radius: 80%;
  display: block;
  height: $spinner_size;
  width: $spinner_size;
  position: relative;
  animation: spin $spinner_speed linear 0s infinite normal;
  background: $spinner_bg;

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
  }

  &:before {
    border-radius: 0 $spinner_fill_radius $spinner_fill_radius 0;
    height: $spinner_size;
    width: 50%;
    top: 0;
    right: 0;
    z-index: 1;
    background: $spinner_color;
    background-image: linear-gradient($spinner_bg, $spinner_color);
  }

  &:after {
    border-radius: $spinner_radius;
    height: $spinner_inner_circle;
    width: $spinner_inner_circle;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background: $spinner_inner_bg;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
