@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
:root {
  --font-family: "Lato", sans-serif;

  --primary-1: #f85b3c;
  --primary-2: #fd2d01;
  --danger-1: #ff1717;
  --danger-2: #ff2626;
  --success-1: #2ecc71;
  --success-2: #27ae60;
  --text-color: #4e5166;
  --text-subtitle: #888da8;
  --gray-1: #dfe6e9;
  --gray-2: #b2bec3;
  --gray-3: #5a5655;
  --gray-4: #9ea5a8;
  --white: #ffffff;
  --background: #edf2f6;
  --background-card: #ffffff;

  --border: solid 0px #ffd7d7;
  --border-in: solid 1px #e5e5e5;
  --border-radius: 2px;
  --box-shadow: 0 1px 2px rgba(82, 82, 82, 0.2);
  --p-5: 5px;
  --p-10: 10px;
  --p-15: 15px;
  --p-20: 20px;

  --m-5: 5px;
  --m-10: 10px;
  --m-15: 15px;
  --m-20: 20px;
}

// reset
* {
  box-sizing: border-box;
  margin: 0;
  line-height: 130%;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: var(--text-color);
}

body {
  min-height: 100vh;
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
  color: var(--text-color);
  background-color: var(--background);
}

.btn {
  &:hover {
    background: var(--primary-2);
  }
  background: var(--primary-1);
  font-family: var(--font-family);
  font-size: 1rem;
  color: var(--white);
  border-radius: 8px;
  font-weight: 500;
  border: none;
  padding: 4px 11px;
  transition: 0.4s background-color;
  cursor: pointer;
}

textarea {
  border: none;
  resize: none;
  background-color: var(--background);
  color: var(--text-color);
  width: 100%;
  flex-grow: 3;
  font-family: inherit;
  font-size: 0.9rem;
  padding: 5px;
  border-radius: 3px;
  height: 100%;
}
textarea::placeholder {
  color: var(--text-color);
}
